.container {
  margin: auto;
  width: 90vw;
  padding-top: 1rem;
}

th {
  text-align: left;
  font-size: x-large;
}

input {
  width: 100%;
  font-size: x-large;
  padding: 0.2rem;
  margin: 0.2rem;
}
